max-visible=5
anchor=top-right
layer=overlay
default-timeout=3000

padding=5
icons=1
markup=1
font=FiraCode Nerd Font


background-color=#1d2021
progress-color=#fabd2f
text-color=#ebdbb2

border-size=2

[urgency=low]
border-color=#3c3836

[urgency=normal]
border-color=#504945
on-notify=exec mpv /run/current-system/sw/share/sounds/freedesktop/stereo/message.oga 

[urgency=high]
border-color=#fe8019
default-timeout=0
on-notify=exec mpv /run/current-system/sw/share/sounds/freedesktop/stereo/message.oga 

[category=spotify]
default-timeout=1000
group-by=category

[category=mpris]
default-timeout=1000
group-by=category
